<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
        />
        <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
        />

     
    <title>{% block title %}Home{% endblock %}</title>   <!--python is put inside the squggly bracket -->


    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
          <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>    
           <div class= "collapse navbar-collapse" id= "navbar"> 
            <div class= "navbar-nav">
              {% if user.is_authenticated %} 
                 <a class= "nav-item nav-link" id ="preview" href ="/preview">preview</a>
                 <a class= "nav-item nav-link" id ="auth_page" href ="/auth">auth_page</a>
                <a class= "nav-item nav-link" id ="logout" href ="/logout">logout</a>
                {% else%}
                <a class= "nav-item nav-link" id ="login" href ="/login">login </a>
                <a class= "nav-item nav-link" id ="/sign_up" href ="/sign_up">sign_up</a>

                {%endif%}
            </div>
           </div>
          </nav>
        {% with messages = get_flashed_messages(with_categories = true)%}
        {% if messages%} 
           {% for category,message in messages%}
           {% if category == 'error'%}

           <div class = "alert alert-danger alter-dismissable fade show" role= "alert">
           <!--alert danger changes the background colour to green -->
            {{ message}}
          <button type="button" class="close" data-dismiss="alert"> 
            <span aria-hidden="true">&times;</span>
            <!-- &times; is x-->
          </botton>
           </div>
           {% else %}
           <div class = "alert alert-success alter-dismissable fade show" role= "alert">
            <!--alert success changes the background colour to green -->
             {{ message }}
           <button type="button" class="close" data-dismiss="alert"> 
             <span aria-hidden="true">&times;</span>
           </botton>
            </div>
            {% endif %}
            {% endfor%}
           {%endif%}
           {% endwith %}

          <div class="container" >
            {% block content%}
            {%endblock%}
           </div>

            <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
            ></script>
            <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
            ></script>
            <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
            ></script>
        
       
    </body>
</html>

